aiosqlite==0.22.1
anyio==4.12.1
attrs==25.4.0
Automat==25.4.16
beautifulsoup4==4.14.3
bs4==0.0.2
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.4
constantly==23.10.4
contourpy==1.3.0
cryptography==46.0.5
cssselect==1.3.0
cycler==0.12.1
defusedxml==0.7.1
et_xmlfile==2.0.0
exceptiongroup==1.3.1
filelock==3.19.1
fonttools==4.60.2
fsspec==2025.10.0
greenlet==3.2.5
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
hyperlink==21.0.0
idna==3.11
importlib_resources==6.5.2
Incremental==24.11.0
itemadapter==0.13.1
itemloaders==1.3.2
Jinja2==3.1.6
jmespath==1.1.0
kiwisolver==1.4.7
loguru==0.7.3
lxml==6.0.2
MarkupSafe==3.0.3
matplotlib==3.9.4
mpmath==1.3.0
networkx==3.2.1
numpy==2.0.2
opencv-python==4.13.0.92
openpyxl==3.1.5
packaging==26.0
pandas==2.3.3
parsel==1.10.0
pillow==11.3.0
prettytable==3.16.0
Protego==0.5.0
py4j==0.10.9.9
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==2.23
pycryptodome==3.23.0
PyDispatcher==2.0.7
pyecharts==2.1.0
PyMySQL==1.1.2
pyOpenSSL==26.0.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
pytz==2025.2
queuelib==1.8.0
requests==2.32.5
requests-file==3.0.1
rsa==4.9.1
Scrapy==2.13.4
service-identity==24.2.0
simplejson==3.20.2
soupsieve==2.8.3
SQLAlchemy==2.0.48
sympy==1.14.0
tldextract==5.3.0
tomli==2.4.0
torch==2.8.0
torchaudio==2.8.0
torchvision==0.23.0
Twisted==25.5.0
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
w3lib==2.3.1
wcwidth==0.6.0
zipp==3.23.0
zope.interface==8.0.1